<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Proyecto II</title>
    <script src='https://www.google.com/recaptcha/api.js'></script>

  </head>
  <body>
    <h1>Bienvenido al sitio del banco del cliente</h1>

    {{ mensaje }}
    <form action="/preguntaSecreta" method="post">
        {% csrf_token %}
        <label for="ci">CI: </label>
        <input id="ci" type="text" name="ci"> <br><br>
        <label for="tdc">Tarjeta de crédito: </label>
        <input id="tdc" type="text" name="tdc"> <br><br>
        <div class="g-recaptcha" data-sitekey="6LcuEE8UAAAAAMv20Ft6UPg6rIo0kk2cdng1OAC2"></div>
        <input type="submit" value="OK">
        
    </form>

    <p>Este sitio fue realizado por:</p>
    <ul>
      <li>Alejandra Cordero, 12-10645</li>
      <li>Fernando Pérez, 12-11152</li>
      <li>Pablo Maldonado, 12-10561</li>
    </ul>
  </body>
</html>
