<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Proyecto II</title>
    <style>
      /* Style all input fields */
      input {
          width: 100%;
          padding: 12px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          margin-top: 6px;
          margin-bottom: 16px;
      }

      /* Style the submit button */
      input[type=submit] {
          background-color: #4CAF50;
          color: white;
      }

      p {
        color: red;
      }

    </style>

  </head>
  <body>
    <h1>Bienvenido al sitio del banco del cliente</h1>

    <p>{{ mensaje }}</p><br><br>
    <form action="/confirmarPregunta" method="post">
        {% csrf_token %}
        <label for="respuesta">{{ pregunta }}</label> <br><br>
        <input id="respuesta" type="text" name="respuesta" autocomplete="off" required> <br><br>
        <input id="id_cuenta" type="hidden" name="id_cuenta" value="{{ idCuenta }}" required> <br>
        <input type="submit" value="OK">
    </form>

    <h4>Este sitio fue realizado por:</h4>
    <ul>
      <li>Alejandra Cordero, 12-10645</li>
      <li>Fernando Pérez, 12-11152</li>
      <li>Pablo Maldonado, 12-10561</li>
    </ul>
  </body>
</html>
