<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Proyecto II</title>
  </head>
  <body>
    <h1>Bienvenido al sitio de comercio electrónico de Redes III</h1>

    <a href="{% url 'sales:register' %}">Registrarse</a>
    <br>
    <br>
    <a href="{% url 'sales:login' %}">Iniciar sesión</a>

    <p>Este sitio fue realizado por:</p>
    <ul>
      <li>Alejandra Cordero, 12-10645</li>
      <li>Fernando Pérez, 12-11152</li>
      <li>Pablo Maldonado, 12-10561</li>
    </ul>
  </body>
</html>
