<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  /* Style all input fields */
  input {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
  }

  /* Style the submit button */
  input[type=submit] {
      background-color: #4CAF50;
      color: white;
  }

</style>
<script src='https://www.google.com/recaptcha/api.js'></script>
</head>
  <body>

    <h3>Inicio de sesión en el sitio de comercio</h3>
    <p>Template obtenido, traducido y adaptado del que se encuentra en <a href="https://www.w3schools.com/howto/howto_js_password_validation.asp">w3schools</a></p>

    <div class="container">
      <form action="{% url 'sales:login' %}" method="post">
        {% csrf_token %}
        <label for="usrname">Nombre de usuario</label>
        <input type="text" id="username" name="username" required>

        <label for="psw">Contraseña</label>
        <input type="password" id="psw" name="psw" pattern="(?=*[A-Z])(?=.*[^a-zA-Z0-9]).{8,}" title="La contraseña debe contener al menos una mayúscula, un caracter alfanumérico y al menos 8 caracteres" required>
        <div class="g-recaptcha" data-sitekey="6LcuEE8UAAAAAMv20Ft6UPg6rIo0kk2cdng1OAC2"></div>
        <input type="submit" value="Iniciar sesión">
      </form>
      <a href="#">Desbloquear cuenta</a>
    </div>

  </body>
</html>
