<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Plataforma de ventas</title>
  </head>
  <body>
    <h1>En este sitio encontrará los productos disponibles y sus compras realizadas</h1>
    <h2>Productos Disponibles</h2>
    {% if products_list|length > 0 %}
        <ul>
        {% for product in products_list %}
            <li>{{product.description}} - {{product.amount}} -
            <form target="_blank" action="{{url}}" method="post">
              {% csrf_token %}
              <input type="hidden" name="price" value="{{product.amount}}">
              <input type="hidden" name="vendor" value="{{product.vendor}}">
              <input type="hidden" name="comprador" value="{{username}}">
              <input type="hidden" name="idProducto" value="{{product.id}}">
              <input type="submit" value="Comprar">
            </form>
        {% endfor %}
        </ul>
    {% else %}
        <p>No hay productos disponibles en la aplicación.</p>
    {% endif %}

    <h2>Compras realizadas</h2>
    {% if previous_purchases|length > 0 %}
      <table>
        <tr>
          <th> No Factura </th>
          <th> Producto </th>
          <th> Monto </th>
        </tr>
        {% for receipt in previous_purchases %}
          <tr>
            <td> {{ receipt.id }} </td>
            <td> {{ receipt.product.description }} </td>
            <td> {{ receipt.product.amount }} </td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <h3> Usted no ha realizado ninguna compra </h3>
    {% endif %}

    <a href="{% url 'sales:logout' %}">Cerrar sesión</a>
  </body>
</html>
