<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Plataforma de ventas</title>
  </head>
  <body>
    <h1>En este sitio encontrará los productos disponibles</h1>

    {% if products_list|length > 0 %}
        <ul>
        {% for product in products_list %}
            <li>{{product.description}} - {{product.amount}} -
            <form target="_blank" action="{{url}}" method="get">
              {% csrf_token %}
              <input type="hidden" name="price" value="{{product.amount}}">
              <input type="hidden" name="vendor" value="{{product.vendor}}">
              <input type="submit" value="Comprar">
            </form>
            <a href="http://127.0.0.1:8080/" target="_blank">Comprar</a> </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No hay productos disponibles en la aplicación.</p>
    {% endif %}
    <a href="{% url 'sales:logout' %}">Cerrar sesión</a>
  </body>
</html>
